*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

body{
    width: 1090px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    width: 160px;
    margin-bottom: 35px;
    margin-top: 3%;
    border-right: 2px solid #f2f2f2;
    padding-right: 20px;
}

.topic h2{
    font-size: 2.3rem;
}

.heart{
    color: red;
    font-size: 2rem;
}

.copywright{
    text-align: center;
    font-size: .95rem;
}

.hero{
    color: white;
    background-image: url(./img/banner.jpg);
    height: 425px;
    background-position: center;
    border-radius: 10px;
}

.hero-overlay{
    height: 425px;
    background-color: rgba(0, 0, 0, 0.151);
    border-radius: 10px;
}

.hero-title{
    font-size: 1.7rem;
    font-weight: 400;
}

.text-container{
    width: 55%;
    padding-top: 270px;
    padding-left: 40px;
}

.hero-text{
    font-size: .90rem;
}

/* Common */

.article .column-middle{
    width: 50%;
}

.article .column-left, .article .column-right{
    width: 24%;
}

.article .column-left, .article .column-middle{
    margin-right: 1%;
}


.article-column > div{
    float: left;

}

.nav, .hero, .article-column, .topic{
   margin-bottom: 50px;  
}

.nav-options span, .topic p, .article-column p{
    color: #9F9F9F;
    font-size: .90rem;
    margin-right: 4px;
    font-weight:500;
}

.article-column h4{
    font-weight: normal;
    margin-bottom: 4px;
}




/* DEBUG */

.debug .nav{
    height: 100px;
    background-color: violet;
}

.debug .hero{
    height: 350px;
    background-color: tan;

}

.debug .topic{
    height: 70px;
    background-color: skyblue;
}

.debug .article-column > div{
    height: 350px;
    background-color: skyblue;
}

.debug .copywright{
    height: 30px;
    background-color: firebrick;
}